
*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background-color: white;
    width: 100%;
    height: 85px;
    padding-left: 35px;
    padding-right: 35px;
    overflow: hidden;    
}
.fiverr_logo{
    height: 30px;
    width: auto;
    transform: translateY(80%);
    display: block;
    float: left;
    margin-right: 35px;
}
.form_css{
    transform: translateY(65%);   
}
.form_css input{
    height: 35px;
    width: 300px;
    border: .5px solid #E4E5E7;
    border-radius: 3px 0px 0px 3px;
    padding-left: 8px;
    padding-right: 8px;

}
.form_css button{
    height: 35px;
    width: 85px;
    background-color: #1DBF73;
    border: none;
    border-radius: 0px 3px 3px 0px;
    color: white;
}
nav .menu_bar{
    float: right;
    transform: translateY(-15%);
    display: flex;  
}
nav .menu_bar ul{
    display: flex;
    list-style: none;
}
nav .menu_bar ul li{
    margin-right: 26px;
    display: block;
    font-size: 1.1em;
    font-weight: 600;
    color: #7A7D85;
    cursor: pointer;
}
nav .menu_bar ul li a{
    color: #7A7D85;
}
nav .menu_bar ul li:hover{
    color: #1DBF73;
}
.Join_btn{
    
    height: 37px;
    width: 66px;
    background-color: white;
    border: 1.5px solid #1DBF73;
    border-radius: 3px;
    text-align: center;
    float: right;
    transform: translateY(-15%);
}
.Join_btn a{
    color: #1DBF73
}
.Join_btn a:hover{
    color: white;
}
.Join_btn:hover{
    background-color: #1DBF73;    
}
.nav_Cat{
    padding-left: 35px;
    padding-right: 35px;
    overflow: hidden;
    border-top: .5px solid #E4E5E7;
    border-bottom: .5px solid #E4E5E7;
    height: 30px;

}
.nav_Cat ul{
    display: flex;
}
.nav_Cat ul li{
    list-style: none;
    margin-left: 2.1%;
    font-weight: 490;
    color: #7A7D85;
    transform: translateY(20%);
    cursor: pointer;
}
.signincss:hover{
    color: #1DBF73;
    transition: .2s;
}